page-home {
  .toolbar-background {
    background-color: rgb(51, 21, 78);

  }
  .container{
    display: flex;
    flex-direction: row;

    height: 5vh;
  }
  .container>img{
    margin: 0px 10px 0px 0px;
  }
  .container> div{
    height: 5vh;
    flex-direction: column;
  }
   .btn{
    display: flex;
    flex-direction: row;
    margin-left: 16%;
    width: 40%;
  }
  .btn > button{
    flex: 1;
    align-self: flex-start;
    align-content: flex-start;
  }
}
