<ion-header>
  <ion-navbar >
    <ion-title  >
      <p style="color: white">Employees</p>
    </ion-title>
    </ion-navbar>
</ion-header>

<ion-content >
    <ion-list >
        <ion-item  *ngFor="let student of students">
<div class="container">
          <img src="{{student.pic}}" alt="" width="50" height="50" style="border-radius: 50%; border: navy solid 2px; ">
          <div> <h2> {{ student.name }}</h2>
          <p>{{student.email}}</p></div>
</div>
<div class="btn">  <button (click)="view(student.id)" ion-button clear item-end>View</button>
          <button   (click)="editStudent(student.id)" ion-button clear item-end>edit</button>
            <button ion-button clear (click)="delete(student.id)" item-end>
             delete

          </button>
       </div>
  </ion-item>
      </ion-list>
  <!-- <ion-list>
    <ion-item *ngFor="let student of students">

      {{ student.name }}

    </ion-item>
  </ion-list> -->

  <ion-fab bottom right>
      <button (click)="addStudents()" ion-fab><ion-icon  name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
