<ion-header>
  <ion-navbar color="secondary">
    <ion-title  >
      Employees
    </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list >
        <ion-item *ngFor="let student of students">
          <h2> {{ student.name }}</h2>
          <p>{{student.email}}</p>
          <p>{{student.cellno}}</p>
          <p>{{student.occupation}}</p>
          <button   (click)="editStudent(student.id)" ion-button clear item-end><ion-icon name="create"></ion-icon></button>

            <button ion-button clear (click)="delete(student.id)" item-end>
              <ion-icon name="trash"></ion-icon>

          </button>
        </ion-item>
      </ion-list>
  <!-- <ion-list>
    <ion-item *ngFor="let student of students">

      {{ student.name }}

    </ion-item>
  </ion-list> -->

  <ion-fab bottom right>
    <button ion-fab >
      <ion-icon name='apps'></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button (click)="addStudents()" ion-fab><ion-icon  name="add"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
